@page "/formpost"
@using Newtonsoft.Json
@using voeairlines_blazor.Data
@inject HttpClient client
@inject Services.AppData AppData;
@inject Services.LoginService _loginService

<div col-3>

    <div class="mb-3">
        <label for="usuario" class="form-label">Usuário</label>
             
        <input type="text" class="form-control" id="usuario" placeholder="" @bind="_loginService.Usuario">
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="text" class="form-control" id="senha" placeholder="" @bind="_loginService.Senha">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" @onclick="PostLogin">Entrar</button>
     
      
    </div>
</div>

@if(AppData.TabelaAtiva){
     <TabelaLogin/>
}





@code {

 
    [Parameter]
    public string? UrlAPI { get; set; }
    Login login;
    public static string? msg { get; set; } = "Aguardando...";
    private async Task PostLogin()
    {

        var apiName = "http://jezielalmeida-001-site1.btempurl.com/api/login";
        login = new Login(
        _loginService.Usuario,
        _loginService.Senha,
        DateTime.Now
        );

        var json = JsonConvert.SerializeObject(login);
        var httpContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
        var httpResponse = await client.PostAsync(apiName, httpContent);
        if (httpResponse.IsSuccessStatusCode)
        {            
            StateHasChanged();   
            AppData.TabelaAtiva = true;
         
        }
        else
        {
            msg = "Preencha valores!";
        }
        _loginService.Usuario = "";
        _loginService.Senha = "";
     
     }
 


}
